extends layout_index

block content
    #wrapper

        // Page Content
        #page-content-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1 Creaci칩n de tickets
                        br
                        p
                            form(action="/users", method="GET")
                                button.btn.btn-primary.btn-lg Volver atr치s
                            br
                            .container
                                    .row
                                        .col-md-12
                                            .well.well-sm
                                                form.form-horizontal(action="/ticketCrud/create", method="POST")
                                                    fieldset
                                                        legend.text-center.header Creaci칩n de Ticket
                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#fuente.form-control(name='fuente', placeholder='Fuente', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#ip_origen.form-control(name='ip_origen', placeholder='IP Origen', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#ip_destino.form-control(name='ip_destino', placeholder='IP Destino', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#puerto.form-control(name='puerto', placeholder='Puerto', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#protocolo.form-control(name='protocolo', placeholder='Protocolo', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#tipo.form-control(name='tipo', placeholder='Tipo', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#intencionalidad.form-control(name='intencionalidad', placeholder='Intencionalidad', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#subarea.form-control(name='subarea', placeholder='Subarea', type='text')
                                                        
                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#sistema_seguridad.form-control(name='sistema_seguridad', placeholder='Sistema Seguridad', type='text')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#fecha_operacion.form-control(name='fecha_operacion', placeholder='Fecha Operaci칩n', type='date')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#correo_origen.form-control(name='correo_origen', placeholder='Correo Origen', type='email')                                    

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#correo_afectado.form-control(name='correo_afectado', placeholder='Correo Afectado', type='email')

                                                        .form-group
                                                            span.col-md-1.col-md-offset-2.text-center
                                                            .col-md-8
                                                                input#comentarios.form-control(name='comentarios', placeholder='Comentarios', type='text')
                                                        .form-group
                                                            .col-md-12.text-center
                                                                button.btn.btn-primary.btn-lg(name='submitButton', value='createTicket') Crear ticket


        // /#page-content-wrapper
    // /#wrapper



    // Menu Toggle Script
    script.
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
