extends layout

block content
    h1= title
    p Bienvenido #{username}

    form(action="/userCrud/create", method="POST")
        input#username(name='username', placeholder='username', type='text')
        input#password(name='password', placeholder='password', type='password')
        input#password2(name='password2', placeholder='verificar pass', type='password')
        select#usertype(name='usertype')
            option(value='0') Operador
            option(value='1') Supervisor
            option(value='2') Jefe
        button(name='submitButton', value='createTicket') Crear ticket

    form(action="/users", method="GET")
        button Volver atras


    form(action="/logout", method="POST")
        button(name='submitButton', value='log_out') Cerrar sesion
