extends layout_index


block content
    #wrapper
        // Page Content
        #page-content-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1 Creación de tickets
                        br
                        br 
                        p
                            h4 Bienvenido #{username} .


                        p
                            |Crear tickets.
                            |

                            form(action="/ticketCrud/create", method="POST")
                                input#fuente(name='fuente', placeholder='fuente', type='text')
                                br
                                input#ip_origen(name='ip_origen', placeholder='ip_origen', type='text')
                                br
                                input#ip_destino(name='ip_destino', placeholder='ip_destino', type='text')
                                br
                                input#puerto(name='puerto', placeholder='puerto', type='text')
                                br
                                input#protocolo(name='protocolo', placeholder='protocolo', type='text')
                                br
                                input#tipo(name='tipo', placeholder='tipo', type='text')
                                br
                                input#intencionalidad(name='intencionalidad', placeholder='intencionalidad', type='text')
                                br
                                input#subarea(name='subarea', placeholder='subarea', type='text')
                                br
                                input#sistema_seguridad(name='sistema_seguridad', placeholder='sistema_seguridad', type='text')
                                br
                                input#fecha_operacion(name='fecha_operacion', placeholder='fecha_operacion', type='date')
                                br
                                input#comentarios(name='comentarios', placeholder='comentarios', type='text')
                                br
                                input#correo_origen(name='correo_origen', placeholder='correo_origen', type='email')
                                br
                                input#correo_afectado(name='correo_afectado', placeholder='correo_afectado', type='email')
                                br
                                br
                                button.buttoncito(name='submitButton', value='createTicket') Crear ticket
                                br

                            form(action="/users", method="GET")
                                br
                                button.buttoncito Volver atras

        // /#page-content-wrapper
    // /#wrapper


    // Menu Toggle Script
    script.
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
