extends layout_index

block content
    #wrapper
        // Sidebar
        include sidebarInclude

        // Page Content
        #page-content-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1 Sistema de gestión de tickets
                        a#menu-toggle.btn.btn-default(href='#menu-toggle')Menu
                        br
                        br

                        div(ng-app='app', ng-controller='MixedChartCtrl')
                            .tab
                                button#defaultOpen.tablinks(onclick="openCity(event, 'dia')", ng-click="update()") Tickets por dia
                                button.tablinks(onclick="openCity(event, 'semana')", ng-click="update()") Tickets por semana
                                button.tablinks(onclick="openCity(event, 'mes')", ng-click="update()") Tickets por mes
                                button.tablinks(onclick="openCity(event, 'trimestre')", ng-click="update()") Tickets por trimestre
                                button.tablinks(onclick="openCity(event, 'semestre')", ng-click="update()") Tickets por semestre
                                button.tablinks(onclick="openCity(event, 'year')", ng-click="update()") Tickets por año
                                //button.tablinks(onclick="openCity(event, 'dirigidos')") Tickets dirigidos
                                //button.tablinks(onclick="openCity(event, 'vinculados')") Tickets vinculados
                                //button.tablinks(onclick="openCity(event, 'uurr')") Tickets por UURR
                            .container
                                .row
                                    .col-md-8
                                        #dia.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataDia', chart-labels='labelsDia', chart-colors='colors', chart-dataset-override='datasetOverride')

                                            select.form-control#annoDia(name="annoDia", ng-click="update()")
                                                option(ng-repeat="year in [2017, 2018, 2019, 2020, 2021]", value="{{ year }}") {{ year }}
                                            select.form-control#mesDia(name="mesDia", ng-click="update()")
                                                option(ng-repeat="year in yearsMonth", value="{{ year[0] }}") {{ year[1] }}

                                        #semana.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataSemana', chart-labels='labelsSemana', chart-colors='colors', chart-dataset-override='datasetOverride')
                                            select.form-control#annoSemana(name="annoSemana", ng-click="update()")
                                                option(ng-repeat="year in [2017, 2018, 2019, 2020, 2021]", value="{{ year }}") {{ year }}

                                        #mes.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataMes', chart-labels='labelsMes', chart-colors='colors', chart-dataset-override='datasetOverride')
                                            select.form-control#annoMes(name="annoMes", ng-click="update()")
                                                option(ng-repeat="year in [2017, 2018, 2019, 2020, 2021]", value="{{ year }}") {{ year }}

                                        #trimestre.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataTrimestre', chart-labels='labelsTrimestre', chart-colors='colors', chart-dataset-override='datasetOverride')
                                            select.form-control#annoTrimestre(name="annoTrimestre", ng-click="update()")
                                                option(ng-repeat="year in years", value="{{ year }}") {{ year }}

                                        #semestre.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataSemestre', chart-labels='labelsSemestre', chart-colors='colors', chart-dataset-override='datasetOverride')
                                            select.form-control#annoSemestre(name="annoSemestre", ng-click="update()")
                                                option(ng-repeat="year in years", value="{{ year }}") {{ year }}

                                        #year.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataYear', chart-labels='labelsYear', chart-colors='colors', chart-dataset-override='datasetOverride')
                                            select.form-control#annoYear(name="annoYear", ng-click="update()")
                                                option(ng-repeat="year in years", value="{{ year }}") {{ year }}



                                    //#tipo.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Paris
                                        //p Paris is the capital of France.
                                    //#dirigidos.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Tokyo
                                        //p Tokyo is the capital of Japan.
                                    //#vinculados.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Paris
                                        //p Paris is the capital of France.
                                    //#uurr.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Tokyo
                                        //p Tokyo is the capital of Japan.





                        br
                        br

                        a.btn.btn-info(href='/users/detalle') Cantidad de tickets por tipo

        // /#page-content-wrapper
    // /#wrapper

    //Menu Toggle Script
    script(src="/js/toggleMenu.js")
    script(src="/js/tabs.js")
    script(src="/angular/graphs.js")

    script.
        document.getElementById("defaultOpen").click();

