extends layout_index

block content
    #wrapper
        // Sidebar
        include sidebarInclude

        // Page Content
        #page-content-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1 Sistema de gestión de tickets
                        a#menu-toggle.btn.btn-default(href='#menu-toggle') Menu
                        br
                        br

                        div(ng-app='app', ng-controller='MixedChartCtrl')
                            .tab
                                button#defaultOpen.tablinks(onclick="openCity(event, 'dia')", ng-click="update()") Cantidad de tickets por dia
                                button.tablinks(onclick="openCity(event, 'semana')", ng-click="update()") Cantidad de tickets por semana
                                //button.tablinks(onclick="openCity(event, 'dirigidos')") Tickets dirigidos
                                //button.tablinks(onclick="openCity(event, 'vinculados')") Tickets vinculados
                                //button.tablinks(onclick="openCity(event, 'uurr')") Tickets por UURR
                            .container
                                .row
                                    .col-md-8
                                        #dia.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataDia', chart-labels='labelsDia', chart-colors='colors', chart-dataset-override='datasetOverride')

                                            select.form-control#annoDia(name="annoDia", ng-click="update()")
                                                option(ng-repeat="year in [2017, 2018, 2019, 2020, 2021]", value="{{ year }}") {{ year }}
                                            select.form-control#mesDia(name="mesDia", ng-click="update()")
                                                option(ng-repeat="year in yearsMonth", value="{{ year[0] }}") {{ year[1] }}

                                        #semana.tabcontent
                                            span.topright(onclick="this.parentElement.style.display='none'") x
                                            canvas.chart-bar(chart-data='dataSemana', chart-labels='labelsSemana', chart-colors='colors', chart-dataset-override='datasetOverride')
                                            select.form-control#annoMes(name="annoMes", ng-click="update()")
                                                option(ng-repeat="year in [2017, 2018, 2019, 2020, 2021]", value="{{ year }}") {{ year }}

                                    //#tipo.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Paris
                                        //p Paris is the capital of France.
                                    //#dirigidos.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Tokyo
                                        //p Tokyo is the capital of Japan.
                                    //#vinculados.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Paris
                                        //p Paris is the capital of France.
                                    //#uurr.tabcontent
                                        //span.topright(onclick="this.parentElement.style.display='none'") x
                                        //h3 Tokyo
                                        //p Tokyo is the capital of Japan.



        // /#page-content-wrapper
    // /#wrapper

    // Menu Toggle Script
    script(src="/js/toggleMenu.js")
    script(src="/js/tabs.js")
    script(src="/angular/graphs.js")

    script.
        document.getElementById("defaultOpen").click();

