extends layout

block content
	form(action="/login", method="POST")
	.login-wrap
		.login-html
			input#tab-1.sign-in(type='radio', name='tab', checked='')
			label.tab(for='tab-1') Sign In
			input#tab-2.sign-up(type='radio', name='tab')
			label.tab(for='tab-2')
			.login-form
				.sign-in-htm
					.group
						label.label(for='username') Username
						input#username.input(name='username', type='text')
					.group
						label.label(for='password') Password
						input#password.input(name='password', type='password')
					.group
						button.button Log-in
					.hr
