extends layout_index

block content
    #wrapper
        //sidebar
        include sidebarInclude

        // Page Content
        #page-content-wrapper
            .container-fluid
                .row.col-lg-12
                    h1 Notificaciones
                    a#menu-toggle.btn.btn-default(href='#menu-toggle') Menu
                    br
                    p
                    //form(action="/users", method="GET")
                    //  button.btn.btn-primary.btn-lg Volver atrás
                    br

                    div(ng-app='viewNotifications', ng-controller='viewNotificationsCtrl')
                        .rwd
                            table.rwd_auto
                                thead
                                    tr
                                        th Notificacion
                                        th Usuario
                                tbody
                                    tr(ng-repeat="noti in notificationsData")
                                        td {{ noti.data }}
                                        td {{ noti.userCreator }}



    // Menu Toggle Script
    script(src="/js/toggleMenu.js")

    script(src='/angular/viewNotifications.js')