// Sidebar
#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
            a(href='/users')
                | Redirect index user
        li
            a(href="/users/createUser") Crear usuario
        li
            a(href='/users/viewLogs/login') Ver logs de logins
        li
            a(href='/users/viewUsers') Ver listado de usuarios
        li
            br
            //a(href='#') Accion 4
        li
            br
            //a(href='#') Accion 5
        li
            br
            //a(href='#') Accion 6
        li
            br
        li
            br
        li
            br
        li
            br
        li
            a(href='/users/notifications') Notificaciones
        li
            br
        li
            form(action="/logout", method="POST")
                button.button(name='submitButton', value='log_out') Cerrar sesion