extends layout_index

block content
    #wrapper
        // Sidebar
        include sidebar0

        // Page Content
        #page-content-wrapper
            .container-fluid
                .butons
                    a#menu-toggle(href='#menu-toggle') Menu
                .row
                    .col-lg-12
                        Center
                            h1 Sistema de Gestión de Tickets
                        br
                        br 
                        p
                            h4 Bienvenido #{username}.
                        p
                            | Accede a menu para revisar distintas opciones disponibles para ti.

        // /#page-content-wrapper
    // /#wrapper

    // Menu Toggle Script
    script(src="js/toggleMenu.js")
