extends layout

block content
    h1= title
    p Bienvenido #{username}

    div(ng-app='viewTickets', ng-controller='viewTicketsCtrl')
        table
            tr
                //th id
                th propietario
                th fecha_creacion
                th encargado
                th fuente
                //th ip_origen
                //th ip_destino
                //th puerto
                //th protocolo
                th tipo
                th intencionalidad
                th subarea
                //th sistema_seguridad
                th fecha_operacion
                //th dias_transcurridos
                //th comentarios
                //th correo_origen
                //th correo_afectado
                th Ver ticket
            tr(ng-repeat="ticket in ticketsData")
                //td {{ ticket.id }}
                td {{ ticket.propietario }}
                td {{ ticket.fecha_creacion }}
                td {{ ticket.encargado }}
                td {{ ticket.fuente }}
                //td {{ ticket.ip_origen }}
                //td {{ ticket.ip_destino }}
                //td {{ ticket.puerto }}
                //td {{ ticket.protocolo }}
                td {{ ticket.tipo }}
                td {{ ticket.intencionalidad }}
                td {{ ticket.subarea }}
                //td {{ ticket.sistema_seguridad }}
                td {{ ticket.fecha_operacion }}
                //td {{ ticket.dias_transcurridos }}
                //td {{ ticket.comentarios }}
                //td {{ ticket.correo_origen }}
                //td {{ ticket.correo_afectado }}
                td
                    a(href='/users/viewTickets/{{ ticket.id }}') Ver este ticket


    form(action="/users", method="GET")
        button Volver atras


    form(action="/logout", method="POST")
        button(name='submitButton', value='log_out') Cerrar sesion

    script(src='/angular/viewTicket.js')
