extends layout_index

block content
    link(rel='stylesheet', href='stylesheets/table.css')
    #wrapper
        // Sidebar
        include sidebarInclude

        // Page Content
        #page-content-wrapper
            .container-fluid
                .row.col-lg-12
                    h1 Sistema de gestión de tickets
                    a#menu-toggle.btn.btn-default(href='#menu-toggle') Menu
                    br
                    p
                    form(action="/users", method="GET")
                                button.btn.btn-primary.btn-lg Volver atrás
                    br
                    div(ng-app='viewLogsLogin', ng-controller='viewLogsLoginCtrl')

                        select#userSelected.form-control(ng-click="updateLogs()")
                            option(value="0") Todos
                            option(value="-1") Inicios fallidos
                            option(ng-repeat="user in usersData", value="{{ user.id }}") {{ user.username }}
                        br
                        .rwd
                            table.rwd_auto
                                thead
                                    tr
                                        //th id
                                        th Usuario
                                        th Fecha de conexión
                                        th IP conexión
                                        // th Proxy
                                        th Conexión exitosa
                                        th Tiempo en línea
                                tbody        
                                    tr(ng-repeat="log in logs_login")
                                        //td {{ log.id }}
                                        td {{ log.username }}
                                        td {{ log.date }}
                                        td {{ log.ip }}
                                        // td {{ log.ip_proxy }}
                                        td {{ log.conn_successful }}
                                        td {{ log.timeOnline }}



    // Menu Toggle Script
    script(src="/js/toggleMenu.js")

    script(src="/angular/viewLogsLogin.js")
